

<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>ESCAPE-C</title>
		<!-- Meta tag Keywords -->
		<script src="https://www.w3schools.com/lib/w3.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Wonder Coming Soon Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- Meta tag Keywords -->

		<!-- css files -->
		<link rel="stylesheet" href="../css/style-rep.css" type="text/css" media="all" /> <!-- Style-CSS --> 
		<link rel="stylesheet" href="../css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
		<link href="../css/popup-box.css" rel="stylesheet" type="text/css" media="all" /><!-- //popup css -->
		<link rel="stylesheet" href="/s/jquery.countdown.css" /><!-- //countdown css -->
		<!-- //css files -->

		<link rel="manifest" href="../manifest.json">
		<meta name="theme-color" content="white"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="../images/hello-icon-152.png">
		<meta name="theme-color" content="white"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Hello World">
		<meta name="msapplication-TileImage" content="../images/hello-icon-144.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">

		<!-- google fonts -->
		<link href="//fonts.googleapis.com/css?family=Cinzel:400,700,900&amp;subset=latin-ext" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
		<!-- //google fonts -->

	</head>
	<body  onload="pluscent()">
		
		<div class="box">
		<!-- main -->
		<script>
			function $_GET(param) {
var vars = {};
window.location.href.replace( location.hash, '' ).replace( 
/[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
function( m, key, value ) { // callback
	vars[key] = value !== undefined ? value : '';
}
);

if ( param ) {
return vars[param] ? vars[param] : null;	
}
return vars;
}
var $_GET = $_GET(),
		
lieu = $_GET['lieu'];	
</script>


		<div class="main">
		
            <h1>Bonne réponse 
				
			</h1>
            <img src="../images/100pts.png" style="width: 25%;"/><br><br>
            <img src="../images/bon.png" style="width: 10%;"/>
            <div class="next">
				<br><br><br>
				
				<a href="map.html" onclick="location.href=this.href+'?lieu='+lieu;return false;"><input type="button" value="suivant"></a>
			</div>
			<script>
	
				function processUser()
			 {
			   var parameters = location.search.substring(1).split("&");
		   
			   var temp = parameters[0].split("=");
			   l = unescape(temp[1]);
			   temp = parameters[1].split("=");
			   p = unescape(temp[1]);
			   
			   document.getElementById("score").innerHTML = p;
				 
			   }
		   
			 </script>
		   
		   
			   <script>
				   function creerCookie(nom,valeur,jour){
					   if(jour){
						   var date = new Date();
						   date.setTime(date.getTime()+(jour*24*60*60*1000));
						   var exp = '; expires='+date.toGMTString();
					   }
					   else{
						   var exp = '';
					   }
					   document.cookie = nom+'='+valeur+exp+';path=/';
				   }
		   
				   function lireCookie(nom){
					   var nomEtEgal = nom + '=';
					   var cTableau = document.cookie.split(';');
					   for(var i=0;i<cTableau.length; i++){
						   var c = cTableau[i];
						   while(c.charAt(0)==' '){
							   c = c.substring(1,c.length);
						   }
						   if(c.indexOf(nomEtEgal) == 0){
							   return c.substring(nomEtEgal.length,c.length);
						   }
					   }
					   return null
				   }
		   
				   function supprimerCookie(nom){
					   creerCookie(nom,'',-1);
				   }
		   
				   
		   
				   
				   var affiche2 = document.getElementById('cook2');
				   affiche2.innerHTML = lireCookie('score');
				   var affiche4 = document.getElementById('cook4');
				   affiche4.innerHTML = lireCookie('score');

				
				   
				   
				   
				  
			   </script>
			   
			   <h1>
				   <script>
					
					var score2 = lireCookie(score);
					var cent = 100;
					var score = score2 + cent;
				

				   creerCookie('score',score,7);

				
				window.onload = pluscent;
				   
			   
				   </script>

					<script>
										
						var bus = lireCookie(bus);
						bus++;
						creerCookie('bus',bus,7);
					
					

					</script>
					
			   </h1>
		</div>

		
		<!-- //main-->

		<!-- js -->
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<!-- //js -->
		<script src="js/main.js"></script>
	</div>
	</body>
</html>