
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>ESCAPE-C</title>
		<!-- Meta tag Keywords -->
		<script src="https://www.w3schools.com/lib/w3.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Wonder Coming Soon Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- Meta tag Keywords -->

		<!-- css files -->
		<link rel="stylesheet" href="../css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
		<link rel="stylesheet" href="../css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
		<link href="../css/popup-box.css" rel="stylesheet" type="text/css" media="all" /><!-- //popup css -->
		<link rel="stylesheet" href="/s/jquery.countdown.css" /><!-- //countdown css -->
		<!-- //css files -->

		<link rel="manifest" href="../manifest.json">
		<meta name="theme-color" content="white"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="../images/hello-icon-152.png">
		<meta name="theme-color" content="white"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Hello World">
		<meta name="msapplication-TileImage" content="../images/hello-icon-144.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">

		<!-- google fonts -->
		<link href="//fonts.googleapis.com/css?family=Cinzel:400,700,900&amp;subset=latin-ext" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
		<!-- //google fonts -->

	</head>
	<body>     
        <div class="concept">
            <h1 style="font-size: 4vw;">Le concept</h1>
        </div>
        <div class="text">
            <div class="text2">
                <br>
                <p>Bienvenue dans notre Escape Game touristique. <br><br>
                    Montez à bord de notre bus pour arriver à une destination mystérieuse. <br>
                    Avec les tablettes fournies, collecter des questions afin d'obtenir un maximum de points. <br><br>
                    Lorsque vous obtenez une bonne réponse, vous recevrez un indice pour résoudre l’énigme du lieu d'arrivée. <br><br>
                    Une fois arrivé à destination, vous pouvez visiter le lieu mystérieux et l'équipe gagnante aura la chance de gagner des places pour un lieu culturel. </p>
            </div>
        </div>
        <div class="btn-concept">
            <a href="equipe.html"><input type="button" value="Continuer"></a>
        </div>
	</body>
</html>