
<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<title>ESCAPE-C</title>
		<!-- Meta tag Keywords -->
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Wonder Coming Soon Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- Meta tag Keywords -->

		<!-- css files -->
		<link rel="stylesheet" href="../css/css_map.css" type="text/css" media="all" /> <!-- Style-CSS --> 
		<link rel="stylesheet" href="../css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
		<link href="../css/popup-box.css" rel="stylesheet" type="text/css" media="all" /><!-- //popup css -->
		<link rel="stylesheet" href="../css/jquery.countdown.css" /><!-- //countdown css -->
		<!-- //css files -->

		<link rel="manifest" href="../manifest.json">
		<meta name="theme-color" content="white"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="../images/hello-icon-152.png">
		<meta name="theme-color" content="white"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Hello World">
		<meta name="msapplication-TileImage" content="../images/hello-icon-144.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">

		<!-- google fonts -->
		<link href="//fonts.googleapis.com/css?family=Cinzel:400,700,900&amp;subset=latin-ext" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
		<!-- //google fonts -->

	</head>
	<body>
		
			<nav class="menu" role="navigation" >
				<div class="m-left"  style="margin-top: 3%;">
					<p>Equipe : EQUIPE</p>		
				</div>
				<div class="m-center"  style="margin-top: 3%;">
					<h1>SCORE : X POINT(S)</h1>
				</div>
				
				<div class="m-right"  style="margin-top: 3%;">
				<p><a href="lieu.html" class="m-link">Lieu d'arivée</a></p>
			</div>
			</nav>
	
		<div class="route">
			<img src="../images/bus.png" alt=""  height="90%" style="margin-top: 1.6%;" />
		</div>
		<div id="map">
			
      </div>
      <script>
        var map, infoWindow;
        var myStyles =[
        {
          featureType: "poi",
          elementType: "labels",
          stylers: [
          { visibility: "off" }
          ]
        }
        ];
      
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 18,
            maxZoom: 18,
            minZoom : 18,
            disableDefaultUI: true,
            draggable : false,
            scrollwheel: false,
            styles: myStyles,  
          });
        
          infoWindow = new google.maps.InfoWindow;
          // Try HTML5 geolocation.
          if (navigator.geolocation) {
            navigator.geolocation.watchPosition(function(position) {
              var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };

              var marker = new google.maps.Marker({
                position: pos,
                map: map,
                title: '',
               
                icon: {
		                url: "../images/icon-bus.png",
		                scaledSize: new google.maps.Size(64, 64),
	              }
              });
              // <----------------------------------------------------------------------------->
              function autoUpdate() {
                navigator.geolocation.getCurrentPosition(function(position) { 
                  var newPoint = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
 
                  if (marker) {
                    // Si le marqueur existe déjà, je le déplace simplement
                    marker.setPosition(newPoint);
                  }
                  else {
                    // Si le marqueur n'existe pas, je le créé
                    marker = new google.maps.Marker({
                      position: newPoint,
                      map: map,
                    });
                  }
 
                  // Je centre la carte sur ma nouvelle position
                  map.setCenter(newPoint);
                });
 
                // J'appelle ma fonction autoUpdate() toutes les 1 seconde
                setTimeout(autoUpdate, 1000);
              }
 
              autoUpdate();
 
              // <----------------------------------------------------------------------------->

              map.setCenter(pos);
            }, 
            function() {
              handleLocationError(true, infoWindow, map.getCenter());
            });
    
          } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
          }
          var marker = new google.maps.Marker({
            position:{lat:48.9256271,lng:2.2089721},
            map: map,
           
            icon: {
		                url: "../images/icon-q.png",
		                scaledSize: new google.maps.Size(104, 128),
	              }
            
          });
          marker.addListener('click',function() {
            window.location.href = 'question.html';
          })

		  var marker = new google.maps.Marker({
            position:{lat:48.9246239,lng:2.2064836},
            map: map,
           
            icon: {
		                url: "../images/icon-q.png",
		                scaledSize: new google.maps.Size(104, 128),
	              }
            
          });
          marker.addListener('click',function() {
            window.location.href = 'question.html';
          })
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
           'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
          infoWindow.open(map);
        }
      </script>

      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvgE12Re3UeundWgP23srDEVh-WrUs3bM&callback=initMap"></script>
      <script src="../js/main.js"></script>
		</div>
		<!-- js -->
		<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
		<!-- //js -->
		<script src="../js/main.js"></script>
	</body>
</html>