/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/



	
body,html{
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	font-family: 'Open Sans', sans-serif;
	padding:0;
	margin:0; 
    font-size: 100%;
    height: 100%;
	display: flex; flex-direction: column; min-height: 100vh;
}	 
 @font-face {
   font-family: 'azonix';
   src: url(../fonts/Azonix.ttf)format('truetype');
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
a{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
a:hover{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

/*--main--*/
/*--header start here--*/
body {
    background-image: url("../images/Escape_game.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
}




.main{
	
	flex-grow: 1;
	max-height: 100%;
}

.logo a{
	padding-top: 10px;
	font-size:2vw;
	color: #fff;
	float: left;
   font-family: 'Azonix';
   font-weight: bold;
}
.social{
	float: right;
}
.social li {
    display: inline-block;
    margin: 0 10px;
}
.social li  a{
    font-size: 18px;
    color: #fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
ul.social li .fa-facebook:hover {
    color: #3b5998;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
ul.social li .fa-twitter:hover {
    color: #1da1f2;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
ul.social li .fa-linkedin:hover {
    color: #0077b5;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
ul.social li .fa-google-plus:hover {
    color: #dd4b39;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.logo-header{
	padding:0 2em;
}

.header {
	text-align:center;

}
.banner-dott{
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    padding: 2em 0em;
}
 h1 {
    color: #EAEAEA;
    font-size: 3vw;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 10px;
   font-family: 'Azonix';
   text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000,
        0 0 0.2em #000000;
}

/*--timer--*/
.agile {
	text-align: center;
	padding: 3.5em 0;
}

.examples {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

div#simply-countdown-losange {
    max-width: 40%;
    margin: 5vw 5vw;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: no-wrap;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
}

.simply-section {
    flex-basis: 25%;
    -webkit-flex-basis: 25%;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
    padding: 1vw;
}

span.simply-amount {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Azonix';
}

span.simply-word {	
    font-size: .8em;
    color: #fff;
    display: block;
    text-transform: uppercase;
    margin-top: 0.5em;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 100;
}

/* --//timer-- */

.btn {
    background: #4CAF50;
    cursor: pointer;
    padding:19px 19px;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
       margin-left: -50px;
    text-indent: -9999px;
        margin-top: -1px;
    outline: none;
    width: 23px;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	
}
button span {
    background: url(../images/arrow1.png) repeat-x 0px 0px;
    height: 30px;
    width: 32px;
    display: block;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    top: 4px;
    position: absolute;
    left: 2px;
}
/* Button 4 */
.btn-4 {
    border: 0px solid rgb(247, 246, 247);
    color: #fff;
    overflow: hidden;
}
/*--w3layouts--*/
/*--agileits--*/
.btn-4:active {
	color: #17954c;
}

button span:hover {
    background: url(../images/arrow1.png) repeat-x 32px 0px;
    height: 30px;
    width: 32px;
    display: block;
    outline: none;
    border: none;
}

.btn-4:before {
	position: absolute;
	left:70%;

	display:none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	
}

.btn-4:active:before {
	color: #17954c;
	left: 20%;
opacity: 0;
top: 20px;
}
input[type="button"] {
    border: none;
    color: #fff;
	font-size: 2vw;
	text-align: center;
    letter-spacing: 1px;
	text-transform: uppercase;
	
    display: inline;
    padding: 15px 18px;
	padding: 15px 50px 15px 55px;
	border-radius: 10px;
	border: black 3px solid;
	background: #713B95 ;
	opacity: 0.95;
    cursor: pointer;
	width: 20%;
    vertical-align: middle;
    font-family: 'azonix', sans-serif;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 7%;
}
input[type="button"]:hover{
	background: #E10F8E;
	width: 18%;
	margin-left: 4%;
	margin-right: 4%;
}
input[type="text"] {
	border: none;
	box-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000,
	0 0 0.2em #000000;
    color: rgb(0, 0, 0);
	font-size: 2vw;
	text-align: center;
    letter-spacing: 1px;
    display: inline;
    padding: 15px 18px;
    padding: 15px 50px 15px 55px;
    background: rgb(255, 255, 255);
    outline: none;
    width: 50%;
	margin-bottom:20px;
    vertical-align: middle;
	font-family: 'azonix', sans-serif;
	margin-top: 10px;
}
input[type="submit"] {
	border: none;
	border-radius: 10px;
    color: #fff;
	font-size: 2vw;
	text-align: center;
    letter-spacing: 1px;
	text-transform: uppercase;
	
    display: inline;
    padding: 15px 18px;
	padding: 15px 50px 15px 55px;

	background: #713B95 ;
	opacity: 0.95;
    cursor: pointer;
	width: 30%;
    vertical-align: middle;
    font-family: 'azonix', sans-serif;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	
}
input[type="submit"]:hover{
	background: #E10F8E;
	width: 28%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:#fff;
}
::-moz-placeholder { /* Firefox 19+ */
	color:#fff;
}
::-ms-input-placeholder { /* IE 10+ */
	color:#fff;
}
::-moz-placeholder { /* Firefox 18- */
	color:#fff;
}
/*--w3layouts--*/
/*--agileits--*/
.footer a, a:active {
    color: #1cc7d0;
	font-weight: 500;
    text-decoration: none;
}
.footer a:hover {
    color: #fd5c63;
	text-decoration:none;
	transition:all 0.5s ease-in-out;
}
.footer {
	text-align:center;
    margin: 5em 0 1em;
}
.footer p {
	color:#fff;
    font-size: .9em;
    line-height: 25px;
    letter-spacing: 2px;
}
.content3 p a {
    background: #fd5c63;
    font-size: 16px;
    padding: 12px 30px;
    display: initial;
    border-radius: 30px;
	transition:0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.content3 p a:hover{
    background: #1cc7d0;
}
.content3 p a{
    color: #fff;
}

.content3 p a:focus{
    outline: none;
}
h3.sub-head-w3-agileits {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
input[type="email"] {
    background: rgba(0, 0, 0, 0.55) url(../images/email.png) no-repeat 10px 10px;
    background-size: 30px;
}
input[type="email"] {
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    margin: 14px 0px;
    border: none;
    border-bottom: 1px solid #fff;
    letter-spacing: .5px;
}
.icon {
    text-align: center;
}
.icon span.fa {
    font-size: 40px;
    margin-bottom: 20px;
	color: #888;
}

nav {
    position: relative;
  }

  img {
    width: 90%;/* s'adapteras à la largeur du conteneur */
  }  

a {
    /* color:transparent;*/
      position: absolute;
      border: solid;
      top: 10%;
      left: 44%;
      width: 5%;
      height: 20%;
    }
